.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    border: 5px solid black;
}

.but{
    margin-top: 20px;
    text-align: center;
}

button{
    width: 150px;
}